// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.button-link {
  background: none;
  color: rgb(187, 187, 187);
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
