<!-- Footer -->
<footer class="page-footer font-small special-color-dark mt-auto border-top">
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2022 Copyright: Voting Sytem
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
